@use '../abstracts' as *;

html {
    font-size: calc(1 * 100vw/375);
    scroll-behavior: smooth;
    line-height: 19/16;
    font-family: var(--IM_Fell_Great_Primer);
    height: 100%;

    @media screen and (min-width: 650px) {
        font-size: calc(1 * 100vw/1920);
    }
}

body {
    position: relative;
    height: 100%;
    overflow-x: hidden !important;
}

.swiper-slide-prev {
    img {
        transform: rotate(-15deg) translateX(50px) translateY(50px);
    }
}

.swiper-slide-next {
    img {
        transform: rotate(15deg) translateX(-50px) translateY(50px);
    }
}

.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
    display: none !important;
}

.swiper { opacity: 0; transition: opacity .5s ease; }
.swiper.swiper-initialized { opacity: 1; }